# Ignore virtual environment files (if you're using virtualenv)
venv/
__pycache__

# Ignore compiled Python files
*.pyc

# Ignore IDE and text editor files
.vscode/
.idea/
.vs/

# Ignore sensitive or local configuration files (customize as needed)
config.ini
secrets.json
client_secrets.json

.env
